{
	"printWidth": 100,
	"semi": false,
	"singleQuote": true,
	"tabWidth": 2,
	"useTabs": true,
	"trailingComma": "none",
	"jsxBracketSameLine": false,
	"jsxSingleQuote": false,
	"arrowParens": "avoid"
}
