:root {
	color-scheme: light dark;
	scrollbar-width: 24px !important;
}

body {
	background-color: var(--bg_color);
	color: var(--text_color);
	height: 100%;
	width: 100vw;
}

#app {
	height: 100%;
}

:root:-webkit-scrollbar {
	width: 24px !important;
}
