h2 {
	color: var(--teal);
	font-size: var(--font_xxlarge);
}

.details_container {
	font-size: var(--font_small);
}

.max_min_temp_container {
	display: flex;
	color: var(--subtext_color);
	font-size: var(--font_small);
	gap: var(--gap_small);
}

.max_temp {
	color: var(--orange);
}

.min_temp {
	color: var(--blue);
}

.clock_container {
	display: flex;
	align-items: center;
}

.clock_container h1 {
	margin-right: var(--gap_small);
	font-size: var(--font_huge);
	text-align: left;
}
