.weather_card_container {
	position: relative;
	z-index: 10;
}

.weather-icon-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	position: relative;
	z-index: 2;
}

img {
	width: 80%;
}
