.App {
	background-color: var(--bg_color);
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: var(--gap_small);
}

.dashboard_container {
	display: grid;
	grid-template-columns: 1fr 2fr;
	align-items: center;
	justify-items: stretch;
	position: relative;
	width: 100%;
	padding: var(--gap_largest);
	gap: var(--gap_largest);
	max-width: var(--max_width);
	border: 0.75rem solid var(--line_color);
	position: relative;
	overflow: hidden;
}

/* Media query for when the viewport width is less than var(--max_width) */
@media (max-width: 800px) {
	.dashboard_container {
		display: block; /* Switch from grid to block layout so WeatherIcon stacks on bottom */
	}

	.time_of_day_icon {
		position: absolute;
		top: 0;
		right: 0;
		transform: translate(-50%, 300%);
		z-index: 0;
	}
}

.dashboard_container::before,
.dashboard_container::after {
	content: '';
	position: absolute;
	width: 4rem;
	height: 4rem;
	background: var(--line_color);
}

.dashboard_container::before {
	top: -2rem; /* Half of the box size to position it half outside */
	left: -2rem;
}

.dashboard_container::after {
	bottom: -2rem;
	right: -2rem;
}

.time_of_day_icon {
	position: absolute;
	top: 1.2rem;
	right: 1.2rem;
}
